@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  background: #fafafa;
}

html,
body,
main {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

main {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  background: #dedede;
  padding: 10px;
  border-radius: 4px;
  min-width: 300px;
  text-align: center;
}

main > span {
  margin-top: 10px;
}

main img {
  max-width: 300px;
}
